In [1]:
import pandas as pd
serie=pd.Series([2,4,6,8])
serie

0    2
1    4
2    6
3    8
dtype: int64

In [2]:
type(serie)

pandas.core.series.Series

In [5]:
serie[0]

2

In [6]:
tutorial = pd.Series( ['E', 'C', 'O', 'N', 'O', 'M','Y'] )
tutorial

0    E
1    C
2    O
3    N
4    O
5    M
6    Y
dtype: object

In [7]:
st = ['Hola', 'mundo', 'robótico'] # CREAMOS UN ARREGLO DE ELEMENTOS .....
df = pd.DataFrame(st)              # CREAMOS UN DATA FRAME EN FUNCIÓN A LA ESTRUCTUA ST= ARREGLO
print(df)

          0
0      Hola
1     mundo
2  robótico

In [8]:
data = { 'Nombre': ['Luisa', 'Ana', 'Walter', 'Fiorella' ], # CREAMOS UNA CABECERA CON SUS ELEMENTOS CORRESPONDE SUS ELEMENTOS EN UN ARREGLO
        'Edad' : [35, 38, 43, 27],                     # OTRA CABECERA EDAD ... QUE LE CORRESPONDE SUS ELEMENTOS EN UN ARREGLO
        'Profesión': ['ECONOMISTA', 'MÉDICO', 'ABOGADO', 'POLICIA'] }             # CREAMOS CABECERA Y SU ARREGLO CON SUS ELEMENTOS
df = pd.DataFrame(data) # LO CONVERTIMOS A DATA.FRAME ........................
df

     Nombre  Edad   Profesión
0     Luisa    35  ECONOMISTA
1       Ana    38      MÉDICO
2    Walter    43     ABOGADO
3  Fiorella    27     POLICIA

In [9]:
print(df[[ 'Nombre', 'Profesión' ]])

     Nombre   Profesión
0     Luisa  ECONOMISTA
1       Ana      MÉDICO
2    Walter     ABOGADO
3  Fiorella     POLICIA

# importación de base de datos con pandas:

In [14]:
data = pd.read_csv('C:/Users/LENOVO/Desktop/python/estadisticapython/canciones.csv')
data.head(5) # por defoult la primera fila es la variable y el separador es la coma

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.552,0.357,77.169,198973.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.123,0.473,75.023,166606.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.131,0.140,159.847,218147.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.112,0.439,140.124,221440.0,4.0
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.396,0.350,91.030,217925.0,4.0

In [18]:
artista = data.artists # posición cinco de la columa artista
artista[5]

'Post Malone'

In [22]:
info = data.iloc[1]  # que me muestre la obervacion de posicion 1 y sus caracteristicas
info

id                  3ee8Jmje8o58CHK66QrVC
name                                 SAD!
artists                      XXXTENTACION
danceability                         0.74
energy                              0.613
key                                   8.0
loudness                            -4.88
mode                                  1.0
speechiness                         0.145
acousticness                        0.258
instrumentalness                  0.00372
liveness                            0.123
valence                             0.473
tempo                              75.023
duration_ms                      166606.0
time_signature                        4.0
Name: 1, dtype: object

In [31]:
data.loc()

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                100 non-null    object
 1   name              100 non-null    object
 2   artists           100 non-null    object
 3   danceability      100 non-null    float64
 4   energy            100 non-null    float64
 5   key               100 non-null    float64
 6   loudness          100 non-null    float64
 7   mode              100 non-null    float64
 8   speechiness       100 non-null    float64
 9   acousticness      100 non-null    float64
 10  instrumentalness  100 non-null    float64
 11  liveness          100 non-null    float64
 12  valence           100 non-null    float64
 13  tempo             100 non-null    float64
 14  duration_ms       100 non-null    float64
 15  time_signature    100 non-null    float64
dtypes: float64(13), object(3)
memory usage: 12.6+ KB

In [24]:
data.shape # dimenisones de la base de datos

(100, 16)

In [26]:
data.columns # nos da el nombre de las variables de la data

Index(['id', 'name', 'artists', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

In [27]:
data['tempo'].describe()  # me da resumen estadistico de una variable

count    100.000000
mean     119.904180
std       28.795984
min       64.934000
25%       95.730750
50%      120.116000
75%      140.022750
max      198.075000
Name: tempo, dtype: float64

In [30]:
data.sort_index(axis = 0, ascending = False) # ordenar desde posicion cero ,manera desendente en funcion a posicion

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
99,3EPXxR3ImUwfayaurPi3c,Be Alright,Dean Lewis,0.553,0.586,11.0,-6.319,1.0,0.0362,0.6970,0.000000,0.0813,0.4430,126.684,196373.0,4.0
98,1j4kHkkpqZRBwE0A4CN4Y,Dusk Till Dawn - Radio Edit,ZAYN,0.258,0.437,11.0,-6.593,0.0,0.0390,0.1010,0.000001,0.1060,0.0967,180.043,239000.0,4.0
97,5WvAo7DNuPRmk4APhdPzi,No Brainer,DJ Khaled,0.552,0.760,0.0,-4.706,1.0,0.3420,0.0733,0.000000,0.0865,0.6390,135.702,260000.0,5.0
96,2xmrfQpmS2iJExTlklLoA,I Miss You (feat. Julia Michaels),Clean Bandit,0.638,0.658,3.0,-6.318,1.0,0.0456,0.2450,0.000004,0.0919,0.3300,105.076,205748.0,4.0
95,630sXRhIcfwr2e4RdNtjK,Rewrite The Stars,Zac Efron,0.684,0.619,10.0,-7.005,1.0,0.0386,0.0716,0.000000,0.1220,0.2840,125.046,217440.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.3960,0.3500,91.030,217925.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.1120,0.4390,140.124,221440.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.1310,0.1400,159.847,218147.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.1230,0.4730,75.023,166606.0,4.0
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.5520,0.3570,77.169,198973.0,4.0

In [36]:
salarios = pd.read_excel('C:/Users/LENOVO/Desktop/python/estadisticapython/gdp.xlsx')
salarios

                country       GDP
0           Afghanistan   18806.6
1               Albania   12635.8
2               Algeria  198565.4
3                Angola  110723.6
4             Argentina  541424.6
..                  ...       ...
102       Venezuela, RB  280624.2
103             Vietnam  151806.6
104  West Bank and Gaza       NaN
105              Zambia   24885.2
106            Zimbabwe   12112.0

[107 rows x 2 columns]

In [38]:
mod200=pd.read_stata('C:/Users/LENOVO/Desktop/python/estadisticapython/enaho01-2020-200.dta')
mod200

,aÑo,mes,conglome,vivienda,hogar,codperso,ubigeo,dominio,estrato,p201p,...,rama_r4,codtarea,codtiempo,ticuest01,tipocuestionario,tipoentrevista,facpob07,factor_p,nconglome,sub_conglome
0,2020,01,005009,012,11,01,010101,sierra norte,de 20 000 a 49 999 habitantes,20180050090121101,...,NaN,NaN,NaN,cuestionario en tablet,cuestionario completo - antes de la emergencia...,presencial,149.202744,186.594391,007076,00
1,2020,01,005009,012,11,02,010101,sierra norte,de 20 000 a 49 999 habitantes,20180050090121102,...,restaurantes y servicios móviles de alimentación,peligrosa,peligrosa,cuestionario en tablet,cuestionario completo - antes de la emergencia...,presencial,149.202744,186.594391,007076,00
2,2020,01,005009,041,11,01,010101,sierra norte,de 20 000 a 49 999 habitantes,20180050090411101,...,NaN,NaN,NaN,cuestionario en tablet,cuestionario completo - antes de la emergencia...,presencial,149.202744,186.594391,007076,00
3,2020,01,005009,041,11,02,010101,sierra norte,de 20 000 a 49 999 habitantes,20180050090411102,...,NaN,NaN,NaN,cuestionario en tablet,cuestionario completo - antes de la emergencia...,presencial,149.202744,186.594391,007076,00
4,2020,01,005009,041,11,03,010101,sierra norte,de 20 000 a 49 999 habitantes,20200050090411103,...,NaN,NaN,NaN,cuestionario en tablet,cuestionario completo - antes de la emergencia...,presencial,149.202744,186.594391,007076,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126826,2020,12,020305,116,11,04,250301,selva,de 20 000 a 49 999 habitantes,20200203051161104,...,venta al por menor de alimentos en almacenes e...,peligrosa,peligrosa,cuestionario en tablet,cuestionario completo - durante la emergencia ...,presencial,275.828552,379.820038,015122,00
126827,2020,12,020305,137,11,01,250301,selva,de 20 000 a 49 999 habitantes,20200203051371101,...,NaN,NaN,NaN,cuestionario en tablet,cuestionario completo - durante la emergencia ...,presencial,275.828552,379.820038,015122,00
126828,2020,12,020305,137,11,02,250301,selva,de 20 000 a 49 999 habitantes,20200203051371102,...,NaN,NaN,NaN,cuestionario en tablet,cuestionario completo - durante la emergencia ...,presencial,275.828552,379.820038,015122,00
126829,2020,12,020305,137,11,03,250301,selva,de 20 000 a 49 999 habitantes,20200203051371103,...,NaN,NaN,NaN,cuestionario en tablet,cuestionario completo - durante la emergencia ...,presencial,275.828552,379.820038,015122,00
126830,2020,12,020305,137,11,04,250301,selva,de 20 000 a 49 999 habitantes,20200203051371104,...,NaN,NaN,NaN,cuestionario en tablet,cuestionario completo - durante la emergencia ...,presencial,275.828552,379.820038,015122,00

In [123]:
filename = 'C:/Users/LENOVO/Desktop/python/estadisticapython/ZeroPrices.txt'
df = pd.read_csv(filename,sep=",")
print(df)

    tasa    price
0   0.25  98.8073
1   0.88  94.6419
2   1.52  91.1392
3   2.15  88.0357
4   2.79  84.9174
5   3.42  82.0362
6   4.06  79.4161
7   4.69  76.5467
8   5.33  73.0829
9   5.96  71.4654
10  6.60  69.1055
11  7.23  66.7882
12  7.87  64.8347
13  8.50  62.4315
14  9.13  60.1127
15  9.77  58.3841

In [125]:
df["price"]

0     98.8073
1     94.6419
2     91.1392
3     88.0357
4     84.9174
5     82.0362
6     79.4161
7     76.5467
8     73.0829
9     71.4654
10    69.1055
11    66.7882
12    64.8347
13    62.4315
14    60.1127
15    58.3841
Name: price, dtype: float64

In [124]:
base_spss=pd.read_spss('C:/Users/LENOVO/Desktop/python/estadisticapython/ejm_ava_s02_1.sav')
base_spss # nota tienes que instalar pip install pyreadstat

    admitido    gre   gpa  rank
0         No  380.0  3.61   3.0
1         Si  660.0  3.67   3.0
2         Si  800.0  4.00   1.0
3         Si  640.0  3.19   4.0
4         No  520.0  2.93   4.0
..       ...    ...   ...   ...
395       No  620.0  4.00   2.0
396       No  560.0  3.04   3.0
397       No  460.0  2.63   2.0
398       No  700.0  3.65   2.0
399       No  600.0  3.89   3.0

[400 rows x 4 columns]

In [126]:
base_spss.admitido.info()

<class 'pandas.core.series.Series'>
RangeIndex: 400 entries, 0 to 399
Series name: admitido
Non-Null Count  Dtype
--------------  -----
400 non-null    category
dtypes: category(1)
memory usage: 652.0 bytes